<div id="app">
  <v-app>
    <v-app-bar app absolute color="primary">
      <v-app-bar-nav-icon @click="drawer = true"></v-app-bar-nav-icon>
      <v-toolbar-title>Sora</v-toolbar-title>
      <v-spacer></v-spacer>
      <v-toolbar-items>
        <v-btn icon :href="flashcardUrl" :disabled="flashcardUrlDisabled">
          <v-icon>quiz</v-icon>
        </v-btn>
        <v-btn icon :disabled="true">
          <v-icon>delete_sweep</v-icon>
        </v-btn>
      </v-toolbar-items>
    </v-app-bar>

    <v-navigation-drawer v-model="drawer" app temporary>
      <v-list nav>
        <v-list-item-group v-model="group">
          <v-list-item v-for="name in flashcardNameList" :key="name" @click="onClickListItem(name)">
            <v-list-item-icon>
              <v-icon>list</v-icon>
            </v-list-item-icon>
            <v-list-item-content>
              <v-list-item-title v-text="name"></v-list-item-title>
            </v-list-item-content>
          </v-list-item>
        </v-list-item-group>
      </v-list>
    </v-navigation-drawer>

    <v-main>
      <v-container>
        <v-row>

          <v-col>
            <transition name="flip">
              <v-card v-show="!reveal" :loading="loading" :disabled="loading">
                <v-card-subtitle>
                  <p>{{num}}</p>
                </v-card-subtitle>
                <v-card-title>
                  <p>{{question}}</p>
                </v-card-title>
                <v-card-text>
                </v-card-text>
                <v-card-actions>
                  <v-spacer></v-spacer>
                  <v-btn icon bottom color="primary" @click="turnBack($event)">
                    <v-icon>flip_to_back</v-icon>
                  </v-btn>
                </v-card-actions>
              </v-card>
            </transition>

            <transition name="flip">
              <v-card ripple v-show="reveal" :loading="loading" :disabled="loading">
                <v-card-subtitle>
                  <p>{{num}}</p>
                </v-card-subtitle>
                <v-card-title>
                  <p>{{answer}}</p>
                </v-card-title>
                <v-card-text>
                </v-card-text>
                <v-card-actions>
                  <v-spacer></v-spacer>
                  <v-btn icon bottom color="primary" @click="turnFront($event)">
                    <v-icon>flip_to_front</v-icon>
                  </v-btn>
                </v-card-actions>
              </v-card>
            </transition>
          </v-col>

        </v-row>
        <v-row>

          <v-col>
            <v-btn block color="success" :loading="loading" :disabled="disable" @click="onClickDone($event)">
              <v-icon>done</v-icon>
            </v-btn>
          </v-col>

          <v-col>
            <v-btn block color="error" :loading="loading" :disabled="disable" @click="onClickClear($event)">
              <v-icon>clear</v-icon>
            </v-btn>
          </v-col>

        </v-row>
      </v-container>
    </v-main>

    <v-footer app fixed color="primary">
      <v-spacer></v-spacer>
      <v-btn icon :disabled="true">
        <v-icon>bug_report</v-icon>
      </v-btn>
    </v-footer>
  </v-app>
</div>